
/* map built in style */

/* built in code to make the map full responsive */

iframe {width:100%;height:100%;}

/* built in code to make the map full responsive end*/


.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:800px;}

.mapouter{position:relative;text-align:right;height:500px;width:800px;}

.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:600px;}

/* map built in style */


.sec-articles article {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 40px;
}

.sec-articles article h3{
  padding-bottom: 5px;
}

.sec-articles article h4{
  padding-left: 40px;
}

.sec-articles article p{
  padding-left: 40px;
  line-height: 20px;
}





/* contact responsive */

