/* ajout des polices *//* main */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* header */ /* main */

body {
    font-family: 'Courgette', cursive;
}
header {
    background-repeat: no-repeat;
    background-size: cover;
}
.menuBurger {
    width: 25px;
    filter: invert(100);
}
nav {
    display:flex;
    gap: 20px;
    font-family: 'Oswald', sans-serif;
}
nav a {
    color: grey;
    text-transform: capitalize;
}
.navigationBarre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    height: 60px;
    border-bottom: 2px solid white;
}
a {
    text-decoration: none;
}
.navigationBarre p {
    font-size: 25px;
    color: white;
}
nav a:hover {
    color:white;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:7px;
    height: 439px;
}
.title img {
    width: 50px;
}
h1 {
    color:white;
    font-size: 30px;
}
h2 {
    color:white;
    font-size: 20px;
}
/* fin header */

/* main */
main {
    height: fit-content;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px;
}
/* section articles */ /*homepage css*/
main h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: black;
    padding: 30px 0;
}
main img {
    width: 120px;
}
.sec-main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sec-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec-articles article{
   display: flex;
}
.sec-articles article p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 10px;
    padding-top: 5px;
}
.sec-articles div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
main a {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: black;
}
/* fin section articles */

/* fin main
/* aside */
aside {
    width: fit-content;
    padding-left: 30px;
}
aside h4 {
    text-transform: capitalize;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 7px;
}
aside button {
    width: 170px;
    height: 25px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
}
aside ul {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}
.logo {
    width: 15px;
}
aside input {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 157px;
    padding-left: 7px;
    height: 19px;
}
/* fin aside */
/* fin main */

/* footer css */
footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: fit-content;
    color: white;
    align-items: center;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 8%;
    padding-bottom: 80px;
    text-transform: capitalize;
}
footer h4 {
    font-size: 18px;
}
footer a {
    font-size: 12px;
    color:white;
    font-weight: 100;
    text-decoration: underline;
}
footer h6 {
    font-size: 11px;
    padding-bottom: 7px;
}
footer input {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    height: 28px;
    width: 110px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
}
footer button {
    font-family: 'Oswald', sans-serif;
    color: white;
    width: 60px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
}
.sec-f-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.f-partager img {
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}
.f-partager ul {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.f-partager img {
    width: 15px;
    height: 15px;
}
.f-categories ul, .f-archives ul {
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}
.f-newsletter div {
    display: flex;
}
.f-newsletter {
    padding-top: 40px;
}
/* footer */

/* about responsive */
.hidden {
    display: none;
}
/* fin about responsive */

/* version tablette */
@media (max-width: 992px) {
    nav {
        display: none;
    }
    .menuBurger {
        display: block;
    }
    aside {
        display: none;
    }
    main {
        padding: 0;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
    }
    .f-newsletter {
        padding-top: 5px;
    }
    .f-archives {
        padding-top: 5px;
    }
}
/* fin version tablette */

/* version mobile */

/* fin version mobile */
/*css end */