/* header */
header {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
header .navigationBarre {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 2px solid white;
}