header {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
    background-position: center;
}
.navigationBarre {
    backdrop-filter: brightness(30%);
}

.sec-main-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}