header {
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/team/team.jpg");
    background-position: center;
}
/* main */
/* articles */
.sec-main-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.profilHead {
    width: 100px;
    border: 1 solid white;
    border-radius: 100%;
}
.sec-articles {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 50px;
    gap: 40px;
}
.sec-articles article {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.sec-articles article h4 {
    font-size: 30px;
    padding-bottom: 20px;
}
.sec-articles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

/* fin articles */
/* fin main */

/* about responsive */
 /* version mobile */
 @media (max-width: 768px) {
    .sec-articles{
        display: flex;
        flex-direction: column;
    }

    .sec-articles article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
 }
 /* fin version tablette*/

/* version tablette */

 /* @media (max-width: 768px) {

    .sec-main-container{
        display: flex;
        justify-content: center;
    }

    .sec-articles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

 } */

/* version tablette fin*/
